<%= form_for(@new_skill_get_kind) do |f| %>
  <% if @new_skill_get_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_skill_get_kind.errors.count, "error") %> prohibited this new_skill_get_kind from being saved:</h2>

      <ul>
      <% @new_skill_get_kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
