<p id="notice"><%= notice %></p>

<p>
  <strong><%= @info.title %></strong>

</p>

<p>
  <%= @info.content %>

</p>

<p>
  <% @info.images.each do |image| %>
    <%= image_tag(image.photo, :class => "img-responsive") %>
  <% end %>
</p>

